.navbar-pinned {
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  z-index: 33;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  background: linear-gradient(0deg, transparent, #2d2d2e) !important;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-1 {
  display: flex;
  align-content: center;
  justify-content: center;
}

.nav-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-logo {
  width: 100px;
  padding-top: 13px;
  margin-right: 25px;
}

.navbar-menu {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  list-style: none;
}

.navbar-menu-item {
  padding-left: 15px;
  font-weight: 100;
  font-size: 16px;
}

.nav-2>div {
  margin-right: 25px;
  margin-left: 10px;
}

.profile-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-2-img {
  width: 35px;
  border-radius: 5px;
  margin-right: 10px;
}

.profile-nav:hover>.profile-nav-menu {
  display: block;
}

#drop {
  transition: all 0.5s;
}

.profile-nav:hover>#drop {
  transform: rotate(180deg);
  transition-duration: 0.5s;
}

.profile-nav:hover>#drop::after {
  transform: rotate(360deg);
  transition-duration: 0.5s;
}




.profile-nav-menu {
  position: absolute;
  top: 60px;
  right: 78px;
  display: none;
}

.menu {
  margin-top: 5px;
  background: rgb(0, 0, 0);
  width: 170px;
  height: 300px;
  border: 0.5px solid grey;
}

.profile-nav-menu>img {
  position: relative;
  width: 13px;
  top: 5px;
  left: 132px;

}

.menu-ul-2 {
  list-style: none;
  padding: 0 10px;
}

.menu-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  padding: 10px 13px;

}

.menu-item-2 {
  padding-bottom: 7px;

  cursor: pointer;
}

.menu-item>img {
  width: 30px;
  margin-right: 10px;
  border-radius: 5px;
}

.menu>ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style: none;
  align-items: flex-start;
  padding: 0;
}

.menu>h5 {
  font-weight: 400;
  margin: 0;
}









.billboard {
  position: relative;
  min-height: 1000px;
  z-index: 0;
}

.billboard-img {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  opacity: 0.7;
}

.billboard-content {
  position: absolute;
  top: 35%;
  left: 5%;
}

.billboard-content>img {
  width: 250px;
}

.billboard-content-2 {
  position: absolute;
  top: 45%;
  left: 5%;
  color: #fff;
  font-weight: 200;
  line-height: normal;
  white-space: pre-line;
  width: 600px;
  font-size: 0.9rem;
  height: 200px;
  text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
  margin-top: 0.1vw;
}

.billboard-buttons {
  position: absolute;
  display: flex;
  align-content: center;
  top: 68%;
  left: 5%;
  height: 70px;
  width: 500px;
}

.billboard-button-1 {
  background-color: rgb(255, 255, 255);
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 1.5rem;
  width: 200px;
  height: 63px;
  font-weight: 600;
  font-size: 24px;
  margin-right: 10px;

  padding-right: 20px;
  cursor: pointer;
  border: none;
}

.billboard-button-2 {
  background-color: rgba(109, 109, 110, 0.5);
  font-size: 1.5rem;
  border: none;
  width: 65%;
  font-weight: 600;
  height: 63px;
  display: flex;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
}

.billboard-button-1:hover {
  background-color: rgb(255, 255, 255, 0.9);
}

.billboard-button-2:hover {
  background-color: rgba(109, 109, 110, 0.3);
}

.slide {
  position: relative;
  top: -290px;
  left: -30px;
  width: 100vw;
  height: 600px;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.card {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 1px;
  z-index: 999;
}

.inner {
  white-space: nowrap;
  z-index: 3;
}

.card>img {
  width: 290px;
  border: 3px solid transparent;
  border-radius: 10px;
  cursor: pointer;
  z-index: 10;

}




.card:hover>img {
  width: 430px;
}


.card:hover>.infoWindow {
  width: 430px;
  display: block;
  position: relative;
  top: -10px;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background: #303030;
  height: 140px;
  z-index: 9;
}

.infoWindow {
  display: none;
}



.item-card {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  bottom: -5px;
  margin-left: 20px;
  padding: 10px;
  font-size: 15px;
}

.item-card>div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  margin-bottom: 25px;
  white-space: pre-line;
  text-align: left;
  flex-wrap: wrap;
  padding-top: 50px;
}

.item-card>small {
  font-size: 20px;
  font-weight: 600;
}

#itemTitle {
  font-size: 20px;
  font-weight: 600;
  width: 150px;
  height: 30px;
  color: white;
  padding-left: 0 !important;
}

#listeEkle {
  display: block;
  border: 2px solid #fff;
  width: 100px;
  height: 20px;

  text-align: center;
}


.item-card>img {
  width: 30px;
  position: absolute;
  top: 90%;
}

.slide-head {
  position: absolute;
  top: 110px;
  z-index: 0 !important;
  font-size: 25px;
  left: 50px;
  color: white;
}

.btn-left {
  position: absolute;
  top: 50%;
  left: 30px;
  width: 60px !important;
  border: none;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 4;
  display: block;
}

.btn-right {
  position: absolute;
  top: 50%;
  right: 30px;
  width: 60px !important;
  border: none;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 4;
  display: block;
}

.section-2 {
  position: absolute;
  top: 1270px;
  left: 50px;
  width: 100vw;
  overflow: hidden !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

}

.section-2-inner {
  white-space: nowrap;
}

.section-2-head {
  position: relative;
  top: 0;
  left: 10px;
  font-size: 25px;
  color: white;

}


.section-2-btn-left {
  position: relative;

  width: 60px !important;
  transform: translateY(-50%);
  cursor: pointer;


}

.section-2-btn-right {
  position: relative;
  left: 1725px;
  width: 60px !important;
  transform: translateY(-50%);
  cursor: pointer;

}


.section-2-buttons{
  z-index: 10;
  position: relative;
  top: -90px;
}


.card:hover ~ .section-2-buttons {
  position: relative;
  top: -240px;

  height: 200px;

}

 